# Latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.nav
*.snm
latex/project1_template.pdf

# jupyter notebook checkpoints
.ipynb_checkpoints/

# editor files
.vscode/
.idea/

# python
__pycache__/
.DS_Store/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/

# output
outputs/